<hr/>
<h2> Quick Event Add </h2>
<form action="/login" method="POST">
<legend id="lege"> Add Event to List </legend>
<fieldset id="addEventForm">
    <label for="etitle">Event Title</label>
    <input type="text" id="etitle" name="etitle" required="required">

    <label for="edesc">Item Description</label>
    <input type="text" id="edesc" name="edesc" required="required">

    <label for="edatetime"> DateTime</label>
    <input type="text" id="edatetime" name="edatetime" required="required">

    <label for="ecapacity">Capacity</label>
    <input type="number" id="ecapacity" name="ecapacity" required="required">

    <label for="elocation">Location</label>
    <input type="text" id="elocation" name="elocation" required="required">

    <button type="submit" id="ebut">Add Event</button>
</fieldset>
</form>
