<div class="centerContainer">

<h1 class="eventListHeader">Upcoming Events</h1>

<div class="eventListItem">
    <h3 class="eventListItemName">Test Event 1</h3>
    <p class="eventListItemDesc">This event is for stuff and things</p>
    <p class="eventListItemDatetime">October 17 <br/> 4:00pm - 6:00pm</p>
    <p class="eventListItemLocation">Learning Lab 4</p>
</div>

</div>