<!-- User Header Module -->

<div id="header">
        <div id="headerLogo">
            <img src="./images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">

        </div>
            <!--
            <div id="leftMenu">


                <div onclick="ePop()" id="eventMenuItem">Events</div>
                <div onclick="invPop()" id="inventoryMenuItem">Inventory</div>
                <div onclick="audPop()" id="AuditMenuItem">Audits</div>

            </div>
            <div id="rightMenu">
                <button value="GoToMembership" onclick="memberProfile()" id="profileMenuItem">Profile</button>

            </div>
            -->

           
    </div>

     <div id="leftMenu">

                <!--
                <a href=""><div id="eventMenuItem">Events</div></a>
                <a href=""><div id="inventoryMenuItem">Inventory</div></a>
                <a href=""><div id="AuditMenuItem">Audits</div></a>
                -->
                <button  id="eventMenuItem">Events</button>
                <button  id="inventoryMenuItem">Inventory</button>
                <button  id="AuditMenuItem">Audits</button>
                <button value="GoToMembership" onclick="memberProfile()" id="profileMenuItem">Profile</button>

     </div>

     <hr class="horizontalRule"/>
