<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="" type="image/x-icon">
  <meta name="description" content="">
  <title>attendanceauditor</title>
  
    <link href="./css/aap.css" rel="stylesheet">


    <!--
      <script src= "https://code.jquery.com/jquery-3.5.1.js"> </script> 
      <script>
          function memberProfile(){
              document.location.href="./memberProfile";
          }

          function ePop(){
              document.location.href="./index";
          }

          function invPop(){
              document.location.href="./inventoryItems";
          }

          function audPop(){
                  document.location.href="./eventAudits";
              }
      </script>
    -->


</head>

<body>
<!-- This is user header import -->
<%- include('header.ejs'); %>

</body>

</html>

