

<head>
  <meta charset="UTF-8">

  <link rel="icon" href="/images/favicon/aapIcon.ico" type="image/x-icon">

  <meta name="description" content="">
  <title>attendanceauditor</title>
  
    <link href="./css/aap.css" rel="stylesheet">
    <script src= "https://code.jquery.com/jquery-3.5.1.js"> </script> 
    <script>
        function memberProfile(){
            document.location.href="./memberProfile";
        }

        function ePop(){
            document.location.href="./index";
        }

        function invPop(){
            document.location.href="./inventoryItems";
        }

        function audPop(){
            document.location.href="./eventAudits";
        }
    </script>
<style> 
    table { 
        margin: 0 auto; 
        font-size: large; 
        border: 1px solid black; 
    } 

    h1 { 
        text-align: center; 
        color: #006600; 
        font-size: xx-large; 
        font-family: 'Gill Sans',  
            'Gill Sans MT', ' Calibri',  
            'Trebuchet MS', 'sans-serif'; 
    } 

    td { 
        background-color: #E4F5D4; 
        border: 1px solid black; 
    } 

    th, 
    td { 
        font-weight: bold; 
        border: 1px solid black; 
        padding: 10px; 
        text-align: center; 
    } 

    td { 
        font-weight: lighter; 
    } 
</style>

</head>

<body>

    <div id="header">
        <div id="headerLogo">
            <img src="./images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">


        </div>
        <div id="leftMenu">
            <div onclick="ePop()" id="eventMenuItem">Events</div>

            <div onclick="invPop()" id="inventoryMenuItem">Inventory</div>
            <div onclick="audPop()" id="AuditMenuItem">Audits</div>
            

        </div>
        <div id="rightMenu">
            <button value="GoToMembership" onclick="memberProfile()" id="profileMenuItem">Profile</button>

        </div>
    </div>
<hr/>
<h1>Inventory Items</h1>
<hr/>

<table id="invTable">
    <thead>
        <label for="invSearch"></label>
        <input type="text" placeholder="Search Events" name="invSearch" id="invSearch">
        <br/><br/>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Search </button>
        </form>
<hr/>
    </thead>
    <tbody id="invTBody" onload="invs()">
        <h2> Available Items </h2>
        <script>
            
            $(document).ready(function invs(){
                // Fetch Data
                $.getJSON("http://localhost:5000/api/inventory",
                        function (data){
                            var dynInventory = '';

                            // Iterating through objects
                            $.each(data, function(key,value){
                                
                                //construction of rows having
                                // data from JSON object
                                dynInventory += '<tr>';
                                dynInventory += '<td>';
                                
                                dynInventory += '<b>'+value.name+'</b>';
                                
                                dynInventory += ' '+value.description;
 
                                dynInventory += ' '+value.sn;
                                dynInventory += ' '+'Checked out by: x';
                                dynInventory += ' '+'Checked out date: x';
                                dynInventory += ' '+'Intended return date: x';

                                dynInventory += '</tr> </td>';
                            });
                            //Insert row into table
                            $('#invTBody').append(dynInventory);
                        });
            });
        
        </script>

    </tbody>

</table>

</body>

<hr/>
<h2> Quick Item Add </h2>
<form action="/login" method="POST">
<legend id="legi"> Add Item to Inventory </legend>
<fieldset id="addItemForm">
    <label for="iname">Item Name</label>
    <input type="text" id="iname" name="iname" required="required">

    <label for="idesc">Item Description</label>
    <input type="text" id="idesc" name="idesc" required="required">

    <label for="sn">Serial Number</label>
    <input type="number" id="sn" name="sn" required="required">


    <button type="submit" id="ibut">Add Item</button>
</fieldset>
</form>
<hr/>
<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Logout </button>
</form>