<head>
  <meta charset="UTF-8">

  <link rel="icon" href="/images/favicon/aapIcon.ico" type="image/x-icon">

  <meta name="description" content="">
  <title>attendanceauditor</title>
    <link href="./css/aap.css" rel="stylesheet">
    <div id="header">
            <div id="headerLogo">
                <img src="./images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">
</head>
<h1>Register to RSVP events!</h1>
<form action="/login" method="POST">
<div>
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" required="required">
</div>
<div>
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" required="required">
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required="required">
</div>

<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required="required">
</div>

<div>
    <label for="pnumber">Phone Number</label>
    <input type="number" id="pnumber" name="pnumber">
</div>

<div>
    <label for="department">Department</label>
    <input type="text" id="department" name="department" >
</div>

<div>
    <label for="category">Category</label>
    <input type="text" id="category" name="category" >
</div>

<button type="submit">Register</button>
</form>

<a href="/login">Login</a>