<!DOCTYPE html>

  <head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta name="description" content="">
    <title>attendanceauditor</title>
  
    <link href="./css/aap.css" rel="stylesheet">
  
  </head>
  
  <body>
    
    <%- include('header.ejs'); %>

    <% if (inventory) { %>
      <% inventory.forEach(function(inventory) { %>
      <%- include ("inventoryView.ejs", {inventory: inventory}); %>
      <% }); %>
      <% } %>
    

  </body>
  
</html>