<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta name="description" content="">
    <title>attendanceauditor</title>

    <link href="./css/aap.css" rel="stylesheet">

</head>

<body>
    <%- include('headerOrg.ejs'); %>
    <%- include('eventDetailsHeaderOrg.ejs'); %>
    <%- include('eventDetailsViewOrg.ejs', { event: event }); %>
    <%- include('eventDetailsFooterOrg.ejs'); %>
</body>

</html>