<!-- User Header Module -->

<div id="header">
    <div id="headerLogo">
        <img src="./images/AAPLogo.png" 
            alt="Attendance Auditor Plus logo" 
            title="Attendance Auditor Plus logo">

    </div>
   

           
    </div>

     <div id="leftMenu">

           
                <button  id="eventMenuItem">Login</button>
                <button  id="inventoryMenuItem">Register</button>
     </div>

     <hr class="horizontalRule"/>
