<!-- User Header Module -->

<div id="header">
    <div class="centerImage" id="headerLogo">
        <img src="./images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">

    </div>


</div>

<div id="leftMenu">

    <a id="eventMenuItem" class="nostyle" href="/events">
        <div>Events</div>
    </a>
    <a id="inventoryMenuItem" class="nostyle" href="/inventory">
        <div>Inventory</div>
    </a>
    <a id="profileMenuItem" class="nostyle" href="/profile">
        <div>Profile</div>
    </a>


</div>

<hr class="horizontalRule" />