<!-- User Header Module -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="../../images/favicon/aapIcon.png" size="55x31" >
    <meta name="description" content="">
    <title>attendanceauditor</title>

    <link href="../../css/aap.css" rel="stylesheet">

</head>

<body>
<div id="header">
    <div class="centerImage" id="headerLogo">
        <a href="/"><img src="../../images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo"> </a>    </div>


</div>

<hr class="horizontalRule" />

