<!-- User Header Module -->
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta name="description" content="">
    <title>attendanceauditor</title>

    <link href="./css/aap.css" rel="stylesheet">

</head>

<body>
<div id="header">
    <div class="centerImage" id="headerLogo">
        <img src="images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">

    </div>


</div>

<hr class="horizontalRule" />

