<!-- User Header Module -->

<div id="header">
    <div id="headerLogo">
        <img src="./images/AAPLogo.png" alt="Attendance Auditor Plus logo" title="Attendance Auditor Plus logo">

    </div>


</div>

<div id="leftMenu">

    <a href="/events">
        <div id="eventMenuItem">Events</div>
    </a>
    <a href="/inventory">
        <div id="inventoryMenuItem">Inventory</div>
    </a>
    <a href="/profile">
        <div id="profileMenuItem">Profile</div>
    </a>


</div>

<hr class="horizontalRule" />