<div class="inventoryItemViewContainer">
    <p class="inventoryItemViewName"> Test Item 1 Name </p>
    <p class="inventoryItemViewDesc"> Test Item 1 Desc </p>
    <div class="inventoryItemViewDetailsContainer">
        <p class="inventoryItemViewSNLabel">Serial Number: </p>
        <p class="inventoryItemViewSNData">01234567</p>
        <p class="inventoryItemViewStockStatusLabel">Stock Status: </p>>
        <p class="inventoryItemViewStockStatusData">Checked Out</p>>

    </div>
</div>