<% if (inventory) { %>
    <a class="nostyle" href="/inventory/<%= inventory._id %>">
        <div class="inventoryItemContainer">    
            <p class="inventoryItemName"><%= inventory.name  %></p>
            <p class="inventoryItemDesc"><%= inventory.sn %></p>
        </div>
    </a>
    <% } %>


