<form class="inventoryItemViewContainer">
    <label for="itemNameField" class="inventoryItemViewName"> Item Name: </label>
    <input type="text" name="itemNameField" class="inventoryItemViewName" placeholder="Test Item 1 Name">
    <label for="itemDescField" class="inventoryItemViewDesc"> Item Description: </label>
    <input type="text" name="itemDescField" class="inventoryItemViewDesc" placeholder="Test Item 1 Desc">
    <label for="itemSNField" class="inventoryItemViewSN"> Item Serial Number: </label>
    <input type="text" name="itemSNField" class="inventoryItemViewDetailsContainer">
    <label for="itemSNField" class="inventoryItemViewSNLabel">Item Serial Number: </label>
        <p class="inventoryItemViewSNData">01234567</p>
        <p class="inventoryItemViewStockStatusLabel">Stock Status: </p>>
        <p class="inventoryItemViewStockStatusData">Checked Out</p>>



    </div>
</form