<div class="inventorySearchAddContainer">
    <form class="searchForm">
        <input class="inventorySearchField" type="text">
        <input class="inventorySearchButton" type="submit">
    </form>
    <button class="inventoryAddItemButton">Add Item</button>
</div>