<form>
    <label for="emailField">Email Address: </label> 
    <input type="text" name="emailField" id="emailField" required="required">

    <label for="lNameField">Last Name: </label> 
    <input type="text" name="lNameField" id="lNameField" required="required">

    <label for="fNameField">First Name: </label> 
    <input type="text" name="emailField" id="emailField" required="required">

    <label for="phoneField">Phone Number: </label> 
    <input type="text" name="phoneField" id="phoneField" >

    <label for="deptField">Department: </label> 
    <input type="text" name="deptField" id="deptField" >

    <label for="categoryField">Category: </label> 
    <input type="text" name="categoryField" id="categoryField" required="required">

</form>


