<%- include('../headerBare.ejs'); %>
<% if (FLASHMESSAGE) { %> 
            <h1 class="flashHead"> <%= FLASHMESSAGE %> </h1>
            <br/><br/>
<% } %>
            <br/>
<h1 class="formHeader">Log In</h1>
<form class="formContainer" action="/login" method="POST">
    <label class="formElement1-1" for="email">Email Address: </label> 
    <input class="formElement1-2" type="text" name="email" id="email" required="required">
    <label class="formElement2-1" for="password">Password: </label>
    <input class="formElement2-2" type="password" name="password" id="password" required="required">

    <input class="formElement3-2 formSubmitButton" type="submit" name="submitButton" id="submitButton" value="Submit">
</form>

<a class="pageText" href="/register">Not a registered user? Click here to create an account.</a>
<%- include('../footer.ejs'); %>