<%- include('../headerOrg.ejs') %>
<form id="eventForm" class="formContainer" action="/events" method="POST">
    <label for="title" class="formElement1-1"> Event Title: </label>
    <input type="text" name="title" class="formElement1-2" required="required">

    <label for=" description" class="formElement2-1">Event Description: </label>
    <input type="textarea" name="description" class="formElement2-2">

    <% var today = new Date(); %>
    <% var dd = String(today.getDate()).padStart(2, '0'); %>
    <% var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0! %>
    <% var yyyy = today.getFullYear(); %>
   
    <% var dateT=''; dateT = mm + '-' + dd + '-' + yyyy; %>
    <% dateT = yyyy + '-' + mm + '-' + dd; %>
  

    <label for="date" class="formElement3-1">Event Date: </label>
    <input type="date" name="date" class="formElement3-2" required="required" value="<%= dateT %>"> 
    

    <label class="formElement4-1" for="time">Choose an hour: </label>
    <select class="formElement4-2" name="time" id="time">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>

    <label class="formElement5-1" for="timemins">Choose a minute: </label>
    <select class="formElement5-2" name="timemins" id="timemins">
        <option value=":00">:00</option>
        <option value=":15">:15</option>
        <option value=":30">:30</option>
        <option value=":45">:45</option>
    </select>

    <label class="formElement6-1" for="timeampm">Choose AM / PM</label>
    <select class="formElement6-2" name="timeampm" id="timeampm">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
    </select>

    <label for="capacity" class="formElement7-1">Event Capacity: </label>
    <input type="number" min="1" max="10000" name="capacity" class="formElement7-2">

    <label for="location" class="formElement8-1">Event Location: </label>
    <input type="text" name="location" class="formElement8-2">

    <input class="formElement9-2 formSubmitButton" type="submit" name="submitButton" id="submitButton" value="Save">
    </div>
    <%- include('../footer.ejs'); %>