<%- include('../headerOrg.ejs'); %>

<div class="inventorySearchAddContainer">
    <form class="searchForm">
      <input class="inventorySearchField" type="text">
      <input class="inventorySearchButton" type="submit">
    </form>
    <button class="inventoryAddItemButton">Add Item</button>
  </div>

<div class="inventoryItemViewContainer">
    <button class="inventoryItemViewEditButton">Edit Details</button>
    <p class="inventoryItemViewName"> Test Item 1 Name </p>
    <p class="inventoryItemViewDesc"> Test Item 1 Desc </p>
    <div class="inventoryItemViewDetailsContainer">
        <p class="inventoryItemViewSNLabel">Serial Number: </p>
        <p class="inventoryItemViewSNData">01234567</p>
        <p class="inventoryItemViewCheckedOutByLabel">Checked out by: </p>
        <p class="inventoryItemViewCheckedOutByData">Robert Airth</p>
        <p class="inventoryItemViewCheckedOutDateLabel">Checked out date: </p>
        <p class="inventoryItemViewCheckedOutDateData">12/5/2020</p>
        <p class="inventoryItemViewIntendedReturnDateLabel">Intended return date: </p>
        <p class="inventoryItemViewIntendedReturnDateData">12/7/2020</p>
        
    </div>
    <button class="inventoryItemViewCheckOutReturnButton">Check In/Out</button>
</div>

<%- include('../footer.ejs'); %>